---
name: Build and Push Docker image
'on':
  push:
    branches:
      - main
  schedule:
    - cron: '0 10 * * 1'
jobs:
  docker:
    if: github.repository == 'loeken/enso-templates-base'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./deploy/docker/Dockerfile.base
          push: true
          tags: loeken/enso-template-base:3.18